:root {
    --popup-width: 750px;
}

.spell_popup {
  position: fixed;
  top: 0;
  right: 0;
  width: var(--popup-width);
  height: 100%;
  border: 1px solid black;
  padding: 20px;
  background-color: white;
  z-index: 1000;
}

.spell_popup h3 {
    display: inline;
}

.spell {
    display: flex;
    width: 500px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    flex-direction: row;
    justify-content: space-between;

    transition: transform 0.2s ease-in-out;
}

.spell_info {
    text-align: end;
}

.spell:hover {
  background-color: rgb(244, 244, 244);
  transform: translateX(5%);
  transition: transform 0.2s ease-in-out;
}

.space {
    display: inline-block;
    width: 10px;
}

.spell_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ad {
    position: fixed;
    top: 0;
    right: 0;
    max-width: var(--popup-width);
    height: 100%;
    border: 1px solid black;
    padding: 0px;
    background-color: white;
    z-index: -1000;
}

.checkbox {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    justify-content: flex-start;
}

.checkbox > * {
    margin: 0 7px;
}
